<h1>Conversations</h1>

<% @conversations.each do |conversation| %>
  <div>
    Technician <%= conversation.technician.name %> - <%= conversation.technician.phone_number %><br>
    <%= link_to "View Conversation", conversation_messages_path(conversation) %><br>
    <hr>
  </div>
<% end %>
