.message-bubble {
  max-width: 80%;
}
.message-outbound {
  min-width: 300px;
  max-width: 70%;
  float: right;
}
.message-inbound {
  min-width: 300px;
  max-width: 70%;
  float: left;
}
.message-sent {
  background: blue;
  font-size: 23px;
}
