<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<ul>
  <li><strong>Payment Tracking</strong></li>
  <li>CSV import from work software of payments received for jobs done.</li>
  <li>When the employees are checking the paysheets they search FSOs to see if the job has been paid and they look at the amount paid to determine the pay.</li>
  <li>Thinking this should be called ReceivedPayments on the back end to prevent conflicts</li>
  <li></li>
  <li></li>
  <li></li>
</ul>
